body {
  margin: auto;
}

header {
  background-color: blue;
}

header img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
}

#raspberry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
  width: 30%;
}

form {
  text-align: center;
}
